@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.resume{
  font-family: 'Montserrat', sans-serif;
}

.resume-3{
  font-family: "Poppins", sans-serif;
}


@media screen and (max-width: 768px) {
  :root h1{
    font-size: 36px;
    line-height: 1.4;
  }
   :root h2{
    font-size: 24px;
    line-height: 1.4;
  }

  :root h3{
    font-size: 20px;
    line-height: 1.4;
  }

  :root p, :root div, :root a{
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 375px) {
  :root h1, :root h2{
    font-size: 14px;
    line-height: 1.4;
  }

  :root h3{
    font-size: 12px;
    line-height: 1.4;
  }

  :root p, :root div, :root a{
    font-size: 10px;
    line-height: 1.2;
  }

  :root div{
    font-size: 8px;
  }
}



@media print{
  .body{
    -webkit-print-color-adjust: exact;
  }
  .resume{
    margin: 0;
  }
  .download{
    display: none;
  }
}
